.background-purple {
  background-color: $purple;
}

.background-green {
  background-color: $neon-green;
}

.card-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 30px;
  width: 80%;
}

.card-navigation {
  position: fixed;
  right:0;
  background-color: rgba(177,171,226,0.4);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
