<% if policy(post).can_bookmark? %>
  <%= link_to post_bookmarks_path(post), data: {turbo_method: :post} do %>
    <button class="button-33">
      <span class="fas fa-arrow-up me-2 animate-up-2"></span>
      Save
    </button>
  <% end %>
<% else %>
  <%= link_to bookmark_path(post.my_bookmark(current_user)), data: {turbo_method: :delete} do %>
    <button class="button-33">
      <span class="fas fa-arrow-down me-2 animate-down-2"></span>
      Unsave
    </button>
  <% end %>
<% end %>
