<div class="img-bg"
style="
    background-image: url(./bg-updated.gif);
    height:150vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  ">
<img src="./w.png" class="img-w" alt="w.png">

<img src="./e.png" class="img-e" alt="e.png">

<img src="./ll.png" class="img-ll" alt="ll.png">

<img src="./c.png" class="img-c" alt="c.png">

<img src="./o.png" class="img-o" alt="o.png">

<img src="./m.png" class="img-m" alt="m.png">

<img src="./ee.png" class="img-ee" alt="ee.png">

<div class="position-fixed" style = "left:300px; top:350px">
<img src="./2D_logo.png" class="img-2D" alt="2D_logo.png">
<p class="fw-bold fs-2 text-purple-200">2D Visual Art</p>
</div>

<div class="position-fixed" style = "left:60px; top:720px">
<img src="./3D_logo.png" class="img-3D" alt="3D_logo.png">
<p class="fw-bold fs-2 text-purple-200">3D Modelling</p>
</div>

<div class="position-fixed" style = "left:1400px; top:520px">
<img src="./music_tech.png" class="music-tech" alt="music-tech.png">
<p class="fw-bold fs-2 text-purple-200">Music Tech</p>
</div>

<%= render "pfive" %>
</div>


<%# #background-image: url(./bg-updated.gif) %>
