<div class="bg-black">
<div class="m-5 bg-image"
  style="

    height:150vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  ">
<img src="./w.png" class="img-w" alt="w.png">

<img src="./e.png" class="img-e" alt="e.png">

<img src="./l.png" class="img-l" alt="l.png">
</div>
</div>
