<div class="py-5 my-5 container" style="height: 500px">
  <%# <textarea name="" id="editor" cols="30" rows="10"></textarea> %>
  <%# <script> %>
      <%# var editor = ace.edit("editor"); %>
  <%# </script> %>

  <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="js,result" data-user="Mamboleoo" data-slug-hash="XWJPxpZ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Walkers - How to">
  <span>See the Pen <a href="https://codepen.io/Mamboleoo/pen/XWJPxpZ">
  Walkers - How to</a> by Louis Hoebregts (<a href="https://codepen.io/Mamboleoo">@Mamboleoo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>

  <%= render "pages/pfive" %>
</div>
