<div class="py-5 my-5 container" style="height: 100%">
  <%# <textarea name="" id="editor" cols="30" rows="10"></textarea> %>
  <%# <script> %>
      <%# var editor = ace.edit("editor"); %>
  <%# </script> %>

  <p class="codepen" data-height="800" data-theme-id="light" data-default-tab="js,result" data-user="geo-179" data-slug-hash="vYQLZxv" style="height: 100%; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Walkers - How to">
  <span>See the Pen <a href="https://codepen.io/geo-179/pen/vYQLZxv">
  Walkers - How to</a> by Louis Hoebregts (<a href="https://codepen.io/Mamboleoo">@Mamboleoo</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
