
input::placeholder, textarea::placeholder {
  font-weight: lighter;
  opacity: 1;
}

.searchbar-gradient {
  background-color: black;
  background-image: linear-gradient(to left,rgba(179, 33, 147, 0.494), rgba(25, 180, 25, 0.425), rgba(87, 16, 192, 0.446));
}

.searchbar-text{
  font-family: fantasy;
}
