// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "form";


.img-e{
  height:100px;
  width:100px;
  object-fit:contain;
  }

.img-w{
  height:200px;
  width:200px;
  object-fit:contain;
}

.img-c{
  height:180px;
  width:150px;
  object-fit:contain;
}


.img-o{
  height:210px;
  width:100px;
  object-fit:contain;
}

.img-m{
  width:210px;
  object-fit:contain;
}

.img-ee{
  width:120px;
  object-fit:contain;
}

.img-ll{
  width:190px;
  object-fit:contain;
}

.img-2D{
  width:120px;
  object-fit:contain;

}

.img-3D{
  width:90px;
  object-fit:contain;
}

.music-tech{
  width:170px;
  object-fit:contain;
}

.img-logo_utopie{
  width:30px;
  object-fit:contain;
  padding-top:2px;
}

.link_text{
  text-decoration: none;
}

.label-text{
  color: rgb(224, 246, 218);
}

.margin-20{
  margin-top:80px
}

.margin-10{
  margin-bottom:70px
}

.padding-60{
  padding-top:100px;
}

.padding-x-30{
  padding-left: 30px;
  padding-right: 30px;
}

.padding-t-20-b-80{
  padding-top: 20px;
  padding-bottom: 80px;
}

.pt-100{
  padding-top:100px;
}
