// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.img-e{
  height:100px;
  width:100px;
  object-fit:contain;
  }

.img-w{
  height:200px;
  width:200px;
  object-fit:contain;
}

.img-c{
  height:180px;
  width:150px;
  object-fit:contain;
}


.img-o{
  height:210px;
  width:100px;
  object-fit:contain;
}

.img-m{
  width:210px;
  object-fit:contain;
}

.img-ee{
  width:120px;
  object-fit:contain;
}

.img-ll{
  width:190px;
  object-fit:contain;
}

.img-2D{
  width:200px;
  object-fit:contain;
}

.img-3D{
  width:300px;
  object-fit:contain;
}

.music-tech{
  width:240px;
  object-fit:contain;
}
