// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.img-e{
  height:100px;
  width:100px;
  object-fit:contain;
  }

.img-w{
  height:200px;
  width:200px;
  object-fit:contain;
}
