// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-gradient:hover{
  background-image: linear-gradient(red, yellow)
}


.navbar-gradient {
  background-image: linear-gradient(to left,rgb(76, 23, 119),rgba(128, 33, 57, 0.929),rgb(76, 23, 119),#51cd17);
}

.nav-text:hover {
  color: rgb(183, 12, 12);
}

.nav-text{
  color: #50fe62;
  font-family:fantasy;
  font-size:30px;
}
