// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-gradient:hover{
  background-image: linear-gradient(red, yellow)
}


.navbar-gradient {
  background-color: black;
  background-image: linear-gradient(to left,rgba(179, 33, 147, 0.494), rgba(25, 180, 25, 0.425), rgba(87, 16, 192, 0.446));
}

.nav-text:hover {
  color: rgb(183, 12, 12);
}

.nav-text{
  color: #000000;
  font-family: 'Cinzel', serif;
  font-size:30px;
}

.card-shadow{
  width: 250px;
  box-shadow: 0 5px 16px 0 rgba(206, 5, 119, 0.275), 0 5px 10px 0 rgba(203, 16, 128, 0.363);
}

.button-p {
  background-color: #1e042fc9;
  border-radius: 40px;
  box-shadow: rgb(178, 125, 251);
  color: rgb(244, 255, 241);
  cursor: pointer;
  display: inline-block;
  font-family: 'Cinzel', serif;
  padding: 2px 5mm;
  text-align: center;
  text-decoration: none;
  transition: all 180ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left:19px;
  margin-top:3px;
}

.button-p:hover {
  box-shadow: rgba(47, 18, 77, 0.35);
  transform: scale(1.05) rotate(-1deg);
}

.nav-fix{
  position:sticky;
}

.border-black{
border-bottom: 2px solid rgb(0, 0, 0);
}
