// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-gradient:hover{
  background-image: linear-gradient(red, yellow)
}


.navbar-gradient {
  background-color: black;
  background-image: linear-gradient(to left,rgba(179, 33, 147, 0.494), rgba(25, 180, 25, 0.425), rgba(87, 16, 192, 0.446));
}

.nav-text:hover {
  color: rgb(183, 12, 12);
}

.nav-text{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.text-30 {
  font-size: 30px;
}

.text-20 {
  font-size: 20px;
}



.card-shadow{
  width: 250px;
  box-shadow: 0 5px 16px 0 rgba(206, 5, 119, 0.275), 0 5px 10px 0 rgba(203, 16, 128, 0.363);
}



.nav-fix{
  position:sticky;
}

.border-black{
border-bottom: 2px solid rgb(0, 0, 0);
}

.background-white {
  background-color: #FFFFFF;
}

.profile-navbar {
  padding-top: 40px;
}

.jump-to-link {
  color: #000000;
}

.jump-to-link:hover {
  color: #FF0000;
}

.ctech-link{
  color: #434343e3;
  font-size: 15px;
}

.height-60{
  height: 60px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list{
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
}

.dropdown-object{
  text-decoration: none;
  color: #000000;
  padding: 4px 0;
}

.dropdown-object:hover {
  background-color: #B1ABE2;
  color:  #4c4c4c;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
