.search-bar {
  width: 350px;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #B08EF9;
  padding-left: 30px;
}

.category-bar {
  border-radius: 5px;
  height: 40px;
  border: 1px solid #B08EF9;
}

.fa-magnifying-glass {
  position: absolute;
  padding: 12px;
  color: #B08EF9;
}
